.carousel-viewport {
    display: inline-block;
    position: relative;
    width: 358px;
    height: 82px;
    overflow: hidden;
}

.carousel-shelf {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.carousel-card {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}

.carousel-card img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-vertical .carousel-viewport {
    width: 82px;
    height: 358px;
}

.carousel-vertical .carousel-card {
    display: block;
    margin-right : 0;
    margin-bottom: 10px;
}